.story-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 48px 64px;
  gap: 40px;
  background-color: #f1ede3; /* optional background */
  flex-wrap: wrap;
}

.story-text {
  flex: 1;
}

.story-text p{
  font-size: 20px;
  color: #4b4b4b;
  margin: 24;
}

.story-text h2 {
  font-size: 48px;
  margin-bottom: 16px;
  color: #2f5b44;
  font-family: 'Oswald', sans-serif;
}

.story-image {
  flex: 1;
  text-align: right;
}

.story-image img {
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .story-section {
    flex-direction: column;
    padding: 36px 48px;
  }

  .story-text h2 {
    font-size: 36px;
    margin: 0;
    text-align: center;
  }

  .story-text p{
    font-size: 18px;
  }

}


@media (max-width: 480px) {
  .story-section {
  padding: 24px 36px;
  }

  .story-text h2 {
    font-size: 28px;
    
  }

  .story-text p{
    font-size: 16px;
  }

}

