.served-section {
  padding: 48px 64px;
  text-align: center;
  justify-content: space-between;
}

.served-title {
  font-size: 48px;
  color: #2f5b44;
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
}

.served-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns */
  gap: 28px;
  justify-items: center;
  max-width: 1000px;
  margin: 24px auto;
}

.served-card {
  border-radius: 12px;
  width: 100%;
  transition: transform 0.3s ease;
}

/* .served-image {
  border-radius: 12px;
  overflow: hidden;
} */

.served-image {
  border-radius: 12px;
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  display: block;
}

.served-card p {
  padding: 12px;
  font-weight: bold;
  color: #4b4b4b;
  font-size: 24px;
}

.served-card:hover {
  border-radius: 12px;
}

.served-card:hover img {
  transform: scale(1.05);
}


@media (max-width: 900px) {
  .served-section {
    flex-direction: column;
    padding: 36px 48px;
  }

  .served-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .served-title {
    font-size: 36px;
    margin: 0;
    text-align: center;
  }
}


@media (max-width: 480px) {
  .served-section {
    padding: 24px 36px;
  }

  .served-grid {
    grid-template-columns: 1fr;
  }

  .served-image {
    /* width: 100%; */
    /* height: auto; */
  }

  .served-title {
    font-size: 28px;

  }

}