.review-section {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  padding: 48px 64px;
  box-sizing: border-box;
  background-color: #fff;
  gap: 36px;

}

.review-title-image {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.review-title {
  width: 50%;
  margin-top: 36px;
  margin-left: 36px;
  font-family: 'Oswald', sans-serif;
  color: #2F5B44;
  font-size: 40px;
  line-height: 1.5;
}

.review-image {
  width: 50%;
  height: auto;
  max-width: 280px;
  border-radius: 12px;
}

.review-content {
  width: 50%;
  height: 400px;
  position: relative;
  margin-left: 24px;
}


.review-stars {
  font-size: 20px;
  color: #E0C873;
  margin-bottom: 10px;
}

.review-content h3 {
  font-size: 22px;
  color: #1C4532;
  margin-bottom: 10px;
}

.review-text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #4b4b4b;
}

.review-content hr {
  margin: 15px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.review-name {
  font-weight: bold;
  color: #2F5B44;
}

.review-nav-buttons {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  gap: 10px;

}

.review-nav-buttons button {
  background-color: #2F5B44;
  color: #fff;
  padding: 8px 10px;
  cursor: pointer;
  margin-top: 48px;
}

.review-nav-buttons button:hover {
  background-color: #3C7A5B;
  color: #FFFBE9;
}

@media (max-width: 900px) {
  .review-section {
    padding: 36px 48px;
    flex-direction: column;
  }

  .review-title-image {
    width: 100%;
  }

  .review-title {
    font-size: 36px;
  }

  .review-image {
    width: 40%;
    height: auto;
  }

  .review-content {
    width: 100%;

  }

  .review-text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .review-section {
    padding: 24px 36px;
  }

  .review-title-image {
    flex-direction: column;
    align-items: center;
  }

  .review-image {
    width: 70%;
    height: auto;
  }

  .review-title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin: 0;
  }

  .review-content {
    height: fit-content;
  }

  .review-text {
    font-size: 16px;
  }

}