.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 60px;
  width: 100vw; /* use viewport width */
  box-sizing: border-box;
  
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
  gap: 24px;
}

.footer-column {
  flex: 1;
}

.footer-logo-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

/* FB icon 顏色跟hover */
.social-icon {
  color: #fff;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #1877f2; /* Facebook 藍色 */
}

/* 電話 & 地址 */
.footer-info {
  margin-bottom: 10px;
}

.footer-column h3 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-column p {
  margin: 5px 0;
}

@media (max-width: 900px) {
  .footer-columns {
flex-direction: column;  }
}

/* @media (max-width: 480px) {
  .footer-columns {
    
  }
} */
