.intro-section {
  display: flex;
  align-items: flex-start;
  padding: 48px 64px;
  gap: 40px;
  margin: 0 auto;
}

.intro-image {
  width: 50%;
  max-width: 600px;
  height: auto;
  border-radius: 12px;
}

.intro-text {
  margin: 0; 
  width: 50%;
  font-size: 20px;
  line-height: 1.6;
  color: #4b4b4b;
}

.intro-title{
  margin: 0; 
  font-family: 'Oswald', sans-serif;
  color: #2F5B44;
  font-size: 48px;
}

.intro-description{
  margin: 24px 0;
  line-height: 2;

}

.intro-button {
  /* margin-top: 12px; */
  padding: 12px 24px;
  font-size: 20px;
  background-color: #2F5B44;
  color: #F1EDE3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.intro-button:hover {
  background-color: #3C7A5B;
  color: #FFFBE9;
}

.intro-button:focus {
  outline: none;
}

@media (max-width: 900px) {
  .intro-section {
    padding: 36px 48px;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .intro-title{
    font-size: 36px;
      }

  .intro-image,
  .intro-text {
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .intro-section {
    padding: 24px 36px;
    flex-direction: column;
    text-align: center;
  }

  .intro-title{
    font-size: 28px;
      }

  .intro-image,
  .intro-text {
    width: 100%;
    font-size: 16px;

  }
}